In [1]:
# Importing the Panda DataFrame libraries

import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
np.cos(np.pi/3)

0.5000000000000001

In [3]:
# Loading data into the DataFrame

df_rating = pd.read_csv("RAW_interactions.csv")

In [4]:
# # I want to do the characterisation of the data set: size; number of attributes; has/does not have missing values,number of observations.

# I want to know the number of attributes/ observations in the dataset

df_rating.shape

(1132367, 5)

In [6]:
# view the first five rows to know what the dataset looks like

df_rating.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [5]:
df_rating.sample(10)

,user_id,recipe_id,date,rating,review
17205,280840,41020,2007-04-10,5,This chili was absolutely outstanding! My chil...
270955,157425,255324,2010-12-21,5,Took a cue from one of the other reveiwers and...
533110,192581,281825,2010-01-04,5,Truly excellent mac and cheese. I wanted to p...
464586,535633,199084,2008-12-04,5,I made this for breakfast this am and my Moth...
948792,289308,41541,2008-12-07,4,Tasty! Did not get quite as candied (crunchy ...
756617,147027,167481,2009-07-27,5,I made this to use in recipe 167479 (Recipe St...
306696,2462794,360528,2014-03-12,5,I made this last night and it turned out very ...
890130,486718,177558,2009-10-05,5,Very easy and came out perfectly!! This is the...
806149,679759,292607,2009-01-05,4,This was a good recipe and the meat was very t...
321639,1396309,65911,2011-07-23,5,"Really great! I was skeptical at the spices, b..."

### Data preparation for Recommendation Analysis

In [7]:
# Checking the data types  present in the data dictionary

df_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1132367 entries, 0 to 1132366
Data columns (total 5 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user_id    1132367 non-null  int64
 1   recipe_id  1132367 non-null  int64
 2   date       1132367 non-null  object
 3   rating     1132367 non-null  int64
 4   review     1132198 non-null  object
dtypes: int64(3), object(2)
memory usage: 43.2+ MB

In [8]:
# Check for missing values 

df_rating.isnull().sum()

user_id        0
recipe_id      0
date           0
rating         0
review       169
dtype: int64

In [9]:
# Checking for duplicates

df_rating.duplicated().sum()

0

In [ ]:
# We are going to drop review since we do not need it for the recommnendation purposes.

df_